<div class="full-reach" style="width:95%;">
  <div class="border-green rim-space">
    <div
      *ngFor="let head of heads;"
      (click)="head !== 'total' && onClicked(head)"
      [ngClass]="{'col-3': head === 'title' || head === 'desc','col-2': head === 'price' || head === 'unit' || head === 'total', 'hoverable': head !=='total'}"
      [ngStyle]="{backgroundColor: head === booksTotalsKey ? 'beige' : 'inherit'}"
      class="btn"
      style="display: inline-block;"
    >{{head.toUpperCase()}}</div>
  </div>
</div>
<div *ngFor="let book of books; index as index">
  <app-book
    [book]="books[index]"
    [booksIx]="booksIx"
    [index]="index"
    style="display: inline-block; width:95%;"
  >
  </app-book>
  <app-book-details></app-book-details>
</div>
