<div *ngIf="booksChanged" class="">
  <div class="full-reach" style="width:95%;">
    <div class="border-green rim-space">
      <div
        *ngFor="let head of heads;"
        [ngClass]="{'col-3': head === 'TITLE' || head === 'DESC','col-2': head === 'PRICE' || head === 'UNIT' || head === 'TOTAL'}"
        [ngStyle]="{backgroundColor: head === 'TITLE' ? 'beige' : 'inherit'}"
        style="display: inline-block;"
        class="btn"
      >{{head}}</div>
    </div>
  </div>
  <div *ngFor="let book of books; index as index">
    <app-book
      [book]="books[index]"
      [booksIx]="booksIx"
      [index]="index"
      (clicked)="onClicked($event)"
      style="display: inline-block; width:95%;"
    >
    </app-book>
    <app-book-details></app-book-details>
  </div>
</div>
