<div class="text-center" style="padding-left:0; padding-right:0;">
  <div class="">
    <div class="col-3 form-group full-reach">
      <label for="title" [ngClass]="{illuminate: editing}">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        (change)="onChanged()"
        [ngClass]='{illuminate: editing}'
        #titleInput>
    </div>
    <div class="col-3 form-group full-reach">
      <label for="desc" [ngClass]="{illuminate: editing}">Description</label>
      <input
        type="text"
        id="desc"
        class="form-control"
        (change)="onChanged()"
        [ngClass]='{illuminate: editing}'
        #descInput>
    </div>
    <div class="col-2 form-group full-reach">
      <label for="price" [ngClass]="{illuminate: editing}">Price</label>
      <input
        type="number"
        id="price"
        class="form-control"
        (change)="onChanged()"
        [ngClass]='{illuminate: editing}'
        #priceInput>
    </div>
    <div class="col-2 form-group full-reach">
      <label for="unit" [ngClass]="{illuminate: editing}">Unit</label>
      <input
        type="number"
        id="unit"
        class="form-control"
        style="min-width: 4rem;"
        (change)="onChanged()"
        [ngClass]='{illuminate: editing}'
        #unitInput>
    </div>
  </div>
  <div class="">
    {{editing ? 'editing...' : ''}}
    <button class="add col-2 btn btn-success nudge-rim" type="button" (click)="onAddItem()">Add</button>
    <button class="del col-2 btn btn-danger nudge-rim" type="button" (click)="onDeleteItem()">Delete</button>
    <button class="dit col-2 btn btn-primary nudge-rim" type="button" (click)="onClearEdit()">Clear</button>
  </div>
</div>
